*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
}

img{
    display: block;
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
}

body{
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: #141414;
    color: #fff;
    padding: 0 16px;
}


header{
    margin-top: 50px;
    margin-bottom: 50px;
}

main{
    margin-bottom: 25px;
}

.profile-picture{
    display: block;
    width: 100px; 
    height: 100px;
    border-radius: 50%;
}

.profile{
    display: flex;
    align-items: center;
    gap: 25px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.content .name{
    font-size: 24px;
    font-weight: 500;
}

.content .description{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}


/* Main */

.fab, .fas{
    width: 40px;
    font-size: 20px;
}

.list-social-field{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.social-field{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    padding: 16px;    
    background-color: #fff;
    border-radius: 50px;
    color:#141414;
}

.social-field:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/* Main */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.footer p{
    font-size: 16px;
    text-align: center;
}


@media screen and (max-width: 500px) {
    header{
        margin-top: 25px;
    }
    

    .profile-picture{
        display: block;
        width: 100px; 
        height: 100px;
        border-radius: 50%;
    }
    
    .profile{
        flex-direction: column;
    }
    
    .content{
        flex-direction: column;
        text-align: center;
    }
    
    
}






